h1{
    text-align: center;
    background-color: cyan;
}
.btn1{
    padding:20px 20px 20px 20px;
    background-color: yellowgreen;
}
.btn2{
    padding:20px 20px 20px 20px;
    background-color: red;
}